---
import Layout from '../layouts/main.astro';
import VideoGrid from '../components/VideoGrid.astro';
---

<Layout title="VidGrid">
	<div class="p-4 h-[calc(100vh-72px)]">
		<VideoGrid />
	</div>
</Layout>
