---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { title = 'VidGrid' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-950 text-white min-h-screen">
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
